body {
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.margin-background {
  margin: 5%;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.text-hover {
  font-family: semplicitapro, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #4d5750;
}

.text-hover:hover {
  color: #508deb;
}

#profile {
  width: 200px;
}

.column {
  float: left;
  width: 45%;
}

.column-2 {
  float: right;
  margin-top: -200px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.contactImage {
  width: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: blue;
}

.center {
  position: absolute;
  top: 50%;
  left: 6.5%;
  transform: translate(-50%, -50%);
}

.center-title {
  top: 30%;
  left: 10%;
  color: black;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}

.button {
  background-color: brown;
  border: none;
  color: blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  padding: 10px;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #6a5f68;
  border-radius: 8px;
}
