a {
  text-decoration: none;
  color: violet;
}

header {
  text-align: center;
  border: 3px solid green;
  background-color: rgb(167, 223, 179);
}

header h1 {
  display: inline-block;
  margin: 45px auto;
  color: #fff;
  font-size: 6em;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header h2 {
  color: brown;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.explanation h3 {
  color: blue;
}

.intro {
  display: grid;
  gap: 20px;
  margin-bottom: 3em;
}

#zen-supporting {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 60px 20px;
}

.summary p {
  text-align: center;
  font-size: 1.2em;
}

.preamble {
  column-count: 3;
  column-gap: 40px;
  column-rule-style: dotted;
  column-rule-width: 5px;
  column-rule-color: aquamarine;
}

.preamble p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(104, 104, 104);
}

.wrapper {
  display: flex;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 30px;
}
