*, *::after, *::before {
    box-sizing: border-box;
}

:root{
    --font-header:filson-pro, sans-serif;
    --font-body:var(--font-header);

    --font-main: ratio, sans-serif;
    --font-main-usage: var(--font-main);

    --header-height: 4rem;

    --color-main-rgb: 101, 186, 183;
    --color-main-hue: 178;
    --color-main-light: hsl(var(--color-main-rgb), 52%, 77%);
    /* --color-main-medium: hsl(var(--color-main-rgb), 38%, 56%); */
    --color-main-dark: hsl(var(--color-main-rgb), 57%, 27%);

    --color-neutral-lighter: rgb(234, 238, 236);
    --color-neutral-light: rgb(194, 202, 198);
    --color-neutral-medium: rgb(111, 121, 116);
    --color-neutral-dark: rgb(37, 44, 41);

    --color-main-medium: #6AB879;
}

body {
    margin: 0;
    font-family: var(--font-body);
}

h1{
    font-family: var(--font-main-usage);
    font-weight: 500;
    font-style: normal;
}


a {
    color:var(--color-main-medium);
    font-weight: bold;
    text-decoration: none;
}



/* App structure */
.ui-loader{
    display: none;
}

[data-role="page"] {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}

[data-role="page"].ui-page-active{
    display: flex;
    flex-direction: column;
}

[data-role="main"] {
    flex: 1 1 100%;
    position: relative;
    overflow: hidden;

    z-index:1;
}

[data-role="header"],
[data-role="footer"] {
    line-height: var(--header-height);
    height:var(--header-height);
    position: relative;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);

    z-index: 2;
}


/* Core Navigation */
[data-role="header"] ul,
[data-role="footer"] ul{
    list-style-type:none;
    margin:0;
    padding:0;
    display: flex;
    width: 100%;
    position: relative;
}

[data-role="footer"] li{
    flex: 1 1 auto;
    text-align: center;
}

[data-role="header"] h1{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    text-align:center;
    font-size: 1.2em;
    margin: 0;
}

[data-role="header"] a{
    padding: 0 1em;
}

[data-role="header"] a,
[data-role="footer"] a{
    display: block;
}


/* Basic layout tools */
.display-flex{display: flex;}
.display-inline-flex{display: inline-flex;}
.display-block{display: block;}
.display-inline-block{display:inline-block; }

.flex-align-center {align-items:center;}
.flex-justify-center {justify-content: center;}

.flex-none{flex:none;}
.flex-stretch{flex:1 1 auto;}

.flex-column{flex-direction: column;}

.overscroll {overflow: auto;}


/* FORMS */
.form-control{
    margin: 1em 0;
}

.form-label{
    font-size: 0.8em;
    color: var(--color-neutral-medium);
    display: block;
    margin-bottom:0.5em;
}

.form-input{
    background-color: transparent;
    border-width: 1px;
    border-color: var(--color-neutral-light);
    border-style:solid;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    display: inline-block;
    width: 100%;
    font:inherit;
}

.form-button{
    background-color: var(--color-main-medium);
    border-width: 0;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    display: inline-block;
    width: 100%;
    font: inherit;
    text-align: center;
    color:inherit;
}

.form-button:hover{
    text-decoration: none;
}

.form-profile{
    padding:15px;
}

.form-control-profile{
    margin-top:20px;
}

.back{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/backgroundImage.png');
    background-position: center;
    background-size: cover;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/map.png');
    background-position: center;
    background-size: cover;
}

#signin-form,
#signup-form{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    position:absolute;
    top:30%;
}

/* .signin-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position:absolute;
} */

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('../../images/background.png'); */
    background-position: center;
    background-size: cover;
}

h1 .head{
    font-family: ligurino, sans-serif;
}


/* FLOATER */
.floater { position:absolute; }
.floater.top { top: 1rem; }
.floater.right { right: 1rem; }
.floater.bottom { bottom: 5rem; position: fixed;}
.floater.left { left: 1rem; }

.btn-circle {
    border-radius: 2rem;
    line-height: 3rem;
    font-size:2.5em;
    width: 3rem;
    height: 3rem;
    text-align:center;
    background-color:white;
    display: block;
    box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.2);
}


/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;
    z-index: 10;
}
.modal.active {
    opacity: 1;
    pointer-events: initial;
}

.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.modal-back.transparent {
    background-color: transparent;
}

.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 3em));
    width: 80vw;
    max-height: 60vh;
    display:flex;
    flex-direction: column;
    border-radius: 0.3em;
    overflow:hidden;
    transition: all 0.3s;
}
.modal.active .modal-popup {
    transform: translate(-50%, -50%);
}


.modal-drawer {
    position: absolute;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.modal-drawer.right,
.modal-drawer.left {
    height: 100%;
    width: 70vw;
}
.modal-drawer.right { right: 0; transform: translateX(100%); }
.modal-drawer.left { left: 0; transform: translateX(-100%); }

.modal-drawer.top,
.modal-drawer.bottom {
    height: 40vh;
    width: 100%;
}
.modal-drawer.top { top: 0; transform: translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform: translateY(100%); }
.modal.active .modal-drawer {
    transform: translate(0);
}




.modal-head,
.modal-foot {
    background-color: var(--color-neutral-lighter);
    padding: 0.5em 1em; 
}
.modal-body {
    background-color: white;
    padding: 1em;
    flex: 1 1 100%;
    overflow: auto;
}

.container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5em;
}

.image {
    background-size: cover;
    background-position: center;
    height:50vw;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.2);
    background-color: #fff;
  }

  .containerEdit {
    margin-top: -2.3em; 
  }


  .container .centered-text a{
    position: absolute;
    background: rgba(0,0,0,0.5);
    top:35%;
    color: #fff;
    width: 88%;
    padding: 20px;
    text-align: center;
    font-size:1.8em;
    font-weight: 400;
    font-style: normal;
  }


  .container2 img{
    width: 100%;
    height: 110vw;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    filter: brightness(60%);
    box-shadow: 0.1em 0.1em 0.8em rgba(0,0,0,0.2);
  }

  .bottom-left{
    position: absolute;
    top: 10em;
    left: 0.5em;
    font-family: ligurino, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 2px;
    color: #fff;
  }

  .bottom-paragraph{
    font-family: ligurino, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.5em;
    margin-top: 10px;
  }

  .center-profile{
    position: absolute;
    top: 3em;
    text-align: center;
    font-size: 1.4em;
    color: #fff;
    width: 100%;
  }

  .section-header h3{
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: center;
  }

/* icon */
i.fas {
    position: absolute;
    left: 7.5rem;
}

::placeholder, textarea{
    color: #EBEBEB;
    border-color: var(--color-neutral-light);
    border-radius: 0.2em;
    width: 100%;
}

.btn-detail{
    display: inline-block;
    margin: 10px auto;
    background-color: #4A83ED;
    color: #fff;
    border: none;
    padding: 5px;
    font-size: 30px;
    height: 150px;
    width: 150px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    top:5em;
    border-radius: 70%;
    text-align: center;
    vertical-align: middle;
}

.btn-detail:active{
    background-color: #3474eb;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

.container-history{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

/* Trah History Detail page */

.circle{
    margin-top: 5%;
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
    overflow: hidden;
    background-color:rgb(37, 44, 41);
    background-position: center;
    background-size: cover;
}

.circle-next{
    margin-top: 10%;
}

.circle.one{
    background-image: url('../../images/grove.jpeg');

}

.circle.two{
    background-image: url('../../images/lax.jpeg');

}

.circle.three{
    background-image: url('../../images/venice.jpg');

}

.circle.four{
    background-image: url('../../images/beverly.jpg');

}

.circle.five{
    background-image: url('../../images/santamonica.jpg');

}

.circle.six{
    background-image: url('../../images/hollywood.jpg');
}

.trash-history-text{
    background-color: rgba(0,0,0,0.7);
    padding: 3%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color:#fff;
    font-size:1.5em;
    font-weight:800;
    font-style: normal;
}

a.alink.ui-link {
    color: #fff;
}

.form-control-history{
    margin-top: 50px;
    padding: 15px;
}

/* Onboarding  */

.background-onboarding{
    width: 100%;
    height: 100%;
    background-image: url('../../images/background-onboarding.png');
    background-position: center;
    background-size: cover;
    color: #fff;
    margin: 0;
}

h2.onboarding-text{
    margin: 0;
    position: absolute;
    top: 3em;
    font-size: 3rem;
    padding: 4%;
}

p.onboarding-text-para{
    margin:0;
    position: absolute;
    font-size: 2rem;
    top: 7em;
    padding: 4%;
}

.onboarding-button{
    position: absolute;
    top: 40em;
    width: 100%;
}

.form-button2{
    padding: 1.3em 0.6em;
    background-color:rgb(255, 255, 255);
    color: #3474eb;
    font-size: 1em;
    font-weight: 600;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.586);
}

/* Trash Total page */
.textarea-container{
    position: relative;

}

.containerimage{
    height: 50%;
    background-position: center;
    background-size: cover;
}

.textarea{
    position: absolute;
    top:15px;
    right: 20px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}